
@{
    ViewBag.Title = "Index";
}

<h2>Portfolio</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Description</h2>
        <p>In this page you will find links to a few of the projects that I have created in my time at the After Hours Bootcamp in Grand Circus.</p>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Projects</h2>
        <div class="list-group">
            <a href="https://github.com/swurst954/LibraryTerminal" class="list-group-item">Library Terminal</a>
            <a href="https://github.com/swurst954/AHBC_Lab_10-circle-" class="list-group-item">Lab 10</a>
            <a href="https://github.com/swurst954/AHBC_Lab_18" class="list-group-item">Lab 18</a>
        </div>
    </div>
