@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wurst Page</h1>
    <p class="lead">Website decicated to provide information on Sebastian Wurst.</p>
    <a href="https://www.linkedin.com/in/sebastianawurst/" class="list">LinkedIn</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Blogging</h2>
            <div class="list-group">
                <a href="https://espressocoder.com/" class="list-group-item">Espresso Coder</a>
                <a href="https://blog.codepen.io/" class="list-group-item">CodePen</a>
                <a href="https://css-tricks.com/" class="list-group-item">CSS Tricks</a>
            </div>
    </div>
    <div class="col-md-4">
        <h2>Developing</h2>
        <ul class="list-group">
            <li class="list-group-item">Object-oriented Programming</li>
            <li class="list-group-item">SQL</li>
            <li class="list-group-item">MVC</li>
            <li class="list-group-item">HTML & CSS</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Hometown</h2>
        <p>Grew up in Florida, near Fort Lauderdale.</p>
    </div>
</div>